:root {
  --text-color-headers: #000000;
  --text-color-basic-text: #333333;
  --text-color-on-dark-background: #ffffff;
  --text-button-active: rgba(255, 255, 255, 0.3);
  --text-button-reset:  rgba(0, 0,  0, 0.1);
  --text-label-color:  rgba(0, 0,  0, 0.3);
  --text-error: #ff5757;

  --button-background: #756157;
  --button-background-hover: #615048;
  --button-form-background: #82b3d3;
  --button-form-background-hover: #68A2CA;
  --button-favorite-background: #7db54f;
  --button-favorite-background-hover: #6C9E42;
  --button-disabled-color: #E5E5E5;

  --page-background-color-darker: #f2f2f2;
  --page-background-color:  #ffffff;
  --background-advantages-color-dark: #82b3d3;
  --background-service-color-light: rgba(131, 179, 211, 0.12);  /*#83b3d31f; */
  --background-service-color:  rgba(131, 179, 211, 0.2); /*#83b3d333; */

  --icons-color-dark: #000000;

  --form-color-disabled: #e5e5e5;
  --pagination-color-current: #f2f2f2;

  --line-color: #756257;
  --line-active-color: rgba(117, 97, 87, 0.3);
  --line-color-light: #68a2ca;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


* {
  outline: 2px dotted magenta;
  outline-offset: -2px;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-basic-text);
  background-color: var(--page-background-color-darker);
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

/* Pages */

/* Header */

.page-header a,
.main-footer a,
.main-inner__breadcrumbs a,
.product-card a {
  text-decoration: none;
}

.navigation__link,
.navigation__link-icon {
  color: var(--text-color-headers);
  background-color: inherit;
  text-align: center;
  font-size: 20px;
  line-height: inherit;
  font-family: inherit;
  font-weight: 700;
}

.navigation__link--current {
  border-bottom: 2px solid var(--line-color);
}

.navigation__item-number {
  font-size: 10px;
  color: var(--text-color-on-dark-background);
  background-color: var(--button-favorite-background);
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: inherit;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-on-dark-background);

  border-radius: 4px;
}

.button--color-1,
.button--color-1:active {
  background-color: var(--button-background);
}

.button--color-1:hover,
.button--color-1:focus-visible{
  background-color: var(--button-background-hover);
}

.button:active {
  color: var(--text-button-active);
}

.button--color-2,
.button--color-2:active {
  background-color: var(--button-form-background);
}

.button--color-2:hover,
.button--color-2:focus-visible {
  background-color: var(--button-form-background-hover);
}

.button--color-3,
.button--color-3:active {
  background-color: var(--button-favorite-background);
}

.button--color-3:hover,
.button--color-3:active {
  background-color: var(--button-favorite-background-hover);
}

.button:disabled {
  background-color: var(--button-disabled-color);
}

.button--color-4,
.button--color-4:active,
.button--color-4:focus-visible,
.button--color-4:hover,
.button--color-4:disabled {
  background-color: var(--background-basic-3);
}

.button--color-4:disabled {
  color: var(--text-button-reset);
}

.button--color-4:hover,
.button--color-4:active {
  opacity: 60%;
}

.button--color-4:focus-visible {
  outline: 2px  solid  var(--line-color-light);
}

/* Promo */

.promo {
  background-color: #344B51;
  background-image: url("../images/backgrounds/divider-background.png"), url("../images/backgrounds/index-background.jpg");

  background-repeat: no-repeat;
  background-position: bottom center, top center;
  background-size: contain, cover;

}

/* Advantages */

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color-headers);
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.subtitle {
  font-family: "PT Sans", sans-serif;
  color: inherit;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.title--small {
  font-size: 24px;
  line-height: 28px;
  /* text-transform: unset; */
}

.subtitle--small {
  font-size: 18px;
  line-height: 21px;
}

.title--color-reverse,
.subtitle--color-reverse {
  color: var(--text-color-on-dark-background);
}

.card__title,
.card__info .subtitle {
  text-align: left;
}

.advantages__item:nth-child(4n+1) {
  background-color: var(--background-advantages-color-dark);
}

.advantages__item:nth-child(4n+1) > .advantages__title,
.advantages__item:nth-child(4n+1) > .advantages__subtitle {
  color: var(--text-color-on-dark-background);
}

.advantages__item:nth-child(2n) {
  background-color: var(--background-service-color);
}

.advantages__item:nth-child(4n+3) {
  background-color: var(--background-service-color-light);
}

/* Service */

.service__item:nth-child(2n+1) {
  background-color: var(--background-service-color-light);
}

.service__item:nth-child(2n) {
  background-color: var(--page-background-color);
}

.subscribe {
  background-color: #344B51;
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0;
  padding: 96px 104px;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
}

.subscribe__title,
.subscribe__subtitle {
  color: var(--text-color-on-dark-background);
}

.subscribe__input,
.range__input {
  background-color: var(--page-background-color-darker);
  outline: 2px solid var(--line-active-color);
  outline-offset: -2px;
  border: none;
  border-radius: 4px;
  color: var(--text-color-headers);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.subscribe__input:hover,
.subscribe__input:focus,
.range__input:hover,
.range__input:focus {
  outline-color: var(--line-color-light);
}

.subscribe__input:active,
.range__input:active {
  color: var(--line-active-color);
}

.subscribe__input::placeholder,
.range__input::placeholder {
  color: var(--line-active-color);
}

.button--color-2 {
  background-color: var(--button-form-background);
  color: var(--text-color-on-dark-background);
}

/* Footer */

.main-footer__contact {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-headers);

  display: block;
}

/* CATALOG*/

.main-inner__header-container {
  background-color: #344B51;
  background-image: url("../images/backgrounds/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 35px 70px 70px;
}

.main-inner__header {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--text-color-on-dark-background);
}

.breadcrumbs__list {
  list-style-type: none;
  display: flex;

}

.breadcrumbs__item:first-child {
  min-width: 20px;
  min-height: 20px;
  margin-right: 8px;
}

.breadcrumbs__link {
  color: var(--text-color-on-dark-background);
}

/* Filters */

.filters__group {
  border:  unset;
}

.filters__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: var(--text-color-on-dark-background);
}

.label {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color-on-dark-background);

}

.range__label {
  font-size: 18px;
  line-height:  24px;
  color: var(--text-label-color);
}

/* VIEW  SETTINGS */

.view-settings__title {
  text-align: left;
}

.main-inner__view-settings {
  background-color: var(--page-background-color);
}

.view-settings__sorting {
  background-color: var(--page-background-color);
  border: 1px solid var(--form-color-disabled);
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
}

.view-settings__sorting-option {
  color: var(--text-color-basic-text);
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
}

.view-settings__view-type-item {
  border: 2px solid var(--form-color-disabled);
}

.view-settings__view-type-item:has(.view-settings__view-type-link--active) {
  border-color: var(--icons-color-dark);
}

/* Product card */

.product-card {
  background-color: var(--page-background-color);
}

.card__info > dd {
  color: var(--text-color-basic-text);
}

.card__rating-text {
  background-color: var(--page-background-color-darker);
}

.card__rating-text,
.card__rating-value {
  color: var(--text-color-basic-text);
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
}

.pagination__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--text-color-on-dark-background);
}

.pagination__link--current,
.pagination__button {
  color: var(--text-color-headers);
}

.pagination__item {
  background-color: var(--background-advantages-color-dark);
}

.pagination__item:has( > .pagination__link--current) {
  background-color: var(--pagination-color-current);
}

.pagination__item:has( > .pagination__button) {
  background-color: var(--page-background-color);
}

.pagination__button {
  background-color: var(--background-basic-3);
  border: none;
}

.main-inner .subscribe {
  background-color: var(--page-background-color);
  background-image: unset;
}

.main-inner .subscribe__title,
.main-inner .subscribe__subtitle {
  color: var(--text-color-headers);
}


/* Flex-Grid */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--page-background-color);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/* --- --- --- */
.page-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
}

.page-header__logo {
  display: block;
  margin-right: 30px;
}

.navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;

}

.navigation__list {
  display: flex;
  list-style-type: none;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.navigation__item-icon:nth-child(2) > .navigation__link-icon {
  position: relative;
}

.navigation__list-icon {
  display: flex;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navigation__link-icon--search {
  display: block;
  background-color: var(--page-background-color);
  background-image: url("../images/icons/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  max-width: 44px;
  padding: 12px 22px;
}


.navigation__link-icon--favourites {
  display: block;
  background-color: var(--page-background-color);
  background-image: url("../images/icons/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  max-width: 44px;
  padding: 12px 22px;

}

.navigation__item-number {

  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.promo {
  padding-top: 50px;
  min-height: 485px;
}

.promo__picture {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding-top: 70px;
}

.advantages__title {
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages__subtitle {
  max-width: 655px;
  margin: 0 auto 70px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding-left: 0;

}

.advantages__item {
  display: flex;
}

.advantages__img {
  display: block;
  min-width: 800px;
}

.advantages__column {
  box-sizing: border-box;
  max-width: 400px;
  padding: 100px 85px;
}

.advantages__column > .advantages__subtitle {
  margin-bottom: 0;
}
/* ------- */
.service__container {
  padding: 65px 0;
}

.service__title {
  max-width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.service__subtitle {
  max-width: 505px;
  margin: 0 auto;
}


.service__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service__item {
  padding: 80px 85px;
}

.service__item-title {
  text-align: center;
  margin: 0 auto 30px auto;
}

.service__item-subtitle {
  text-align: center;
  margin: 0 auto;
}

.search {
  margin: 0;
  padding: 95px 0;
}


.search__title {
  margin: 0 auto;
  text-align: center;
  max-width: 595px;
  margin-bottom: 20px;
}

.search__subtitle{
  margin: 0 auto;
  text-align: center;
  max-width: 592px;
  margin-bottom: 55px;

}

.search__link{
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 376px;

}
/*subscribe flex*/
.subscribe__title {
  max-width: 410px;
  margin: 0 auto 20px;

}

.subscribe__subtitle {
  max-width: 475px;
  margin: 0 auto 54px;

}

.subscribe__form {
  max-width: 684px;
  margin: 0 auto;
  display: flex;
}

.button--big {
  padding: 8px 50px;
  border-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe__form > label {
  flex-grow: 1;
}

.subscribe__input {
  display: block;
  width: 100%;
  padding: 14px 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


/* main footer flex*/
.main-footer {
  display: flex;
  padding: 40px 70px 30px;
  justify-content: space-between;
}

.main-footer__link-logo {
  display: block;
}

.socials__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials__item {
  min-width: 47px;
  min-height: 40px;
  padding: 12px;
}

.socials__item {
  padding-top: 8px;
}
