@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

html {
  height: 100vh;
}

.page {
  min-width: 1280px;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

/* Pages */

.page__container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  /* min-width: fit-content; ??? */
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.title--uppercase {
  text-transform: uppercase;
}

.subtitle {
  /* font-family: "PT Sans", sans-serif; */
  font-size: 22px;
  line-height: 26px;
}

.title--small {
  font-size: 24px;
  line-height: 28px;
}

.subtitle--small {
  font-size: 18px;
  line-height: 21px;
}

.title--color-light,
.subtitle--color-light {
  color: #ffffff;
}

/* buttons */
.button {
  padding: 8px 15px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border: unset;
  border-radius: 4px;

  cursor: pointer;
}

.button__link {
  background-color: #756157;
}

.button__link:hover,
.button__link:focus {
  background-color: #615048;
}

.button__link:active {
  color:rgba(256, 256, 256, 0.3);
  background-color: #756157;
}

.button__link--disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button__button {
  background-color: #82B3D3;
}

.button__button:hover,
.button__button:focus {
  background-color: #68A2CA;
}

.button__button:active {
  color:rgba(256, 256, 256, 0.3);
  background-color: #82B3D3;
}

.button__button:disabled {
  background-color: #e5e5e5;
}

.button__button--favourite {
  background-color: #7DB54F;
}

.button__button--favourite:hover,
.button__button--favourite:focus {
  background-color: #6C9E42;
}

.button__button--favourite:active {
  color:rgba(256, 256, 256, 0.3);
  background-color: #7DB54F;
}

.button__button--favourite:disabled {
  background-color:#e5e5e5;
}

.button__button--transparent {
  background-color: transparent;
}

.button__button--transparent:hover {
  opacity: 0.6;
}

.button__button--transparent:focus {
  opacity: 1;
}

.button__button--transparent:active {
  color: rgba(256, 256, 256, 0.3);
}

.button__button--transparent:disabled {
  color: rgba(256, 256, 256, 0.1);
}

.button:focus {
  outline-color: #83B3D3;
}

.button--big {
  padding: 13px 50px;

  font-size: 20px;
  line-height: 36px;
}

.button__button.button--big {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* header */
.page__header {
  position :relative;

  padding-left: 70px;
  padding-right: 70px;
  min-height: 64px;

  align-items: center;
}

.page__header a:focus {
  outline-color: #83B3D3;
}

.page__header-logo {
  position: absolute;
  top: 0;
  left: 70px;

  display: block;
}

.navigation__link {
  font-family: inherit;
  font-size: 20px;
  line-height: inherit;
  font-weight: 700;
  color: #000000;

  background-color: inherit;

  text-decoration: none;
}

.navigation__link--current {
  border-bottom: 2px solid #756257;
}

.navigation__item-number {
  font-size: 10px;
  color: #ffffff;

  background-color: #7db54f;
}

.navigation {
  display: flex;
  padding-left: 30px;
  margin-left: 138px;
}

.navigation__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 17px;
  padding-right: 30px;
  align-items: stretch;
  flex-grow: 1;
  flex-wrap: wrap;
  -moz-column-gap: 31px;
       column-gap: 31px;

  list-style-type: none;
}

.navigation__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation__item-icon:nth-child(2) > .navigation__link-icon {
  position: relative;
}

.navigation__list-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 0;

  list-style: none;
}

.navigation__link-icon {
  display: block;
  width: 44px;
  height: 64px;
  padding: 12px 22px;
  box-sizing: border-box;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.navigation__reserve-button {
  min-width: 160px;
  align-self: center;
}

.navigation__link-icon--search {
  background-image: url("../images/icons/search.svg");
}

.navigation__link-icon--favourites {
  position: relative;
  background-image: url("../images/icons/heart.svg");
}

.navigation__item-number {
  position: absolute;
  top: 11px;
  right: 4px;

  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  text-align: center;

  border-radius: 50%;
}

/* promo */
.promo {
  min-height: 484px;
  padding-top: 50px;

  text-align: center;

  background-color: #344B51;
  background-image: url("../images/content/divider-background.png"), url("../images/content/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  background-size: contain, cover;
}

/* Advantages */
.advantages {
  padding-top: 69px;

  text-align: center;
}

.advantages__title {
  max-width: 630px;
  margin: 0 auto 25px;
}

.advantages__subtitle {
  max-width: 651px;
  margin: 0 auto 90px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.advantages__item:has(.advantages__img) {
  grid-column: 1/-1;
}

.advantages__item {
  display: flex;
}

.advantages__column {
  max-width: 400px;
  padding: 114px 85px 111px;

  text-align: center;
}

.advantages__item:has(.advantages__img) > .advantages__column {
  padding-top: 103px;
  padding-bottom: 100px;
}

.advantages__item-title {
  position: relative;
  max-width: 175px;
  margin: 0 auto 30px;
  padding-bottom: 31px;
}

.advantages__item-subtitle {
  margin: 0;
}

.advantages__item-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: block;
  width: 60px;
  height: 2px;

  background-color: #000000;
  opacity: 30%;
}

.title--color-light.advantages__item-title:before {
  background-color: #ffffff;
}

.advantages__img {
  display: block;
  min-width: 800px;
}

.advantages__item:nth-child(4n+1) {
  background-color: #82b3d3;
}

.advantages__item:nth-child(4n+1) > .advantages__title,
.advantages__item:nth-child(4n+1) > .advantages__subtitle {
  color: #ffffff;
}

.advantages__item:nth-child(2n) {
  background-color:  rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(4n+3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item:nth-child(5n) .advantages__column {
  order: 2;
}

/* service */
.service__header {
  padding: 64px 0 65px;
  text-align: center;
}

.service__title {
  max-width: 505px;
  margin: 0 auto 20px;
}

.service__subtitle {
  max-width: 505px;
  margin: 0 auto;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.service__item {
  padding: 81px 85px;
}

.service__item-title {
  position: relative;
  margin: 0 0 28px;
  padding-top: 102px;

  text-align: center;

  text-transform: uppercase;
}

.service__item-title::before {
  content: "";

  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  display: block;
  width: 75px;
  height: 76px;

  background-position: center;
  background-repeat: no-repeat;
}

.service__item-title--house::before {
  background-image: url("../images/icons/advantage-housing.svg");
  background-size: auto 72px;
}

.service__item-title--food::before {
  background-image: url("../images/icons/advantage-food.svg");
  background-size: auto 70px;
}

.service__item-title--souvenirs::before {
  background-image: url("../images/icons/advantage-souvenirs.svg");
  background-size: auto 76px;
}

.service__item-subtitle {
  margin: 0;
  text-align: center;
}

.service__item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service__item:nth-child(2n) {
  background-color: #ffffff;
}

/* search */
.search {
  margin: 0;
  padding: 97px 0 104px;

  text-align: center;
  vertical-align: middle;
}

.search__title {
  max-width: 600px;
  margin: 0 auto 20px;
}

.search__subtitle{
  max-width: 600px;
  margin: 0 auto 62px;
}

.search__link {
  /* display: inline-block;
  max-width: 600px; */
}
/* subscribe */
.subscribe {
  margin: 0;
  padding: 97px 104px 104px;

  text-align: center;

  background-color: #344B51;
  background-image: url("../images/content/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-inner .subscribe {
  padding-top: 95px;
}

.subscribe__title {
  margin: 0 0 20px;
  padding: 0;
}

.subscribe__subtitle {
  margin: 0 0 54px;
}

.subscribe__form {
  display: grid;
  grid-template-columns: auto 232px;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe__input {
  width: 100%;
  padding: 14px 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: unset;
}

.subscribe__input::-webkit-input-placeholder {
  color: rgba(0, 0,  0, 0.6);
}

.subscribe__input::-moz-placeholder {
  color: rgba(0, 0,  0, 0.6);
}

.subscribe__input:-ms-input-placeholder {
  color: rgba(0, 0,  0, 0.6);
}

.subscribe__input::-ms-input-placeholder {
  color: rgba(0, 0,  0, 0.6);
}

.subscribe__input::placeholder {
  color: rgba(0, 0,  0, 0.6);
}
/* subscribe input placeholder color --> end  */

.subscribe__input:hover {
  background-color: #e5e5e5;
}

.subscribe__input:focus {
  background-color: #e5e5e5;
  outline-color: #83B3D3;
}

.subscribe__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-inner .subscribe {
  background-color: #ffffff;
  background-image: unset;
}

/* footer */
.main-footer {
  display: flex;
  padding: 46px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.main-footer__contact {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 3px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.logo {
  color: #000000;
}

.main-footer__contact:hover,
.main-footer__contact:focus,
.main-footer__link-logo:hover .logo,
.main-footer__link-logo:focus .logo {
  color: #756157;
}

.main-footer__contact:focus,
.main-footer__link-logo:focus {
  outline-color: #83B3D3;
}

.main-footer__contact:active,
.main-footer__link-logo:active .logo {
  color: rgba(117, 97, 87, 0.3);
}

.logo {
  vertical-align: middle;
}

.socials__list {
  display: grid;
  grid-template-columns: repeat(3, 47px);
  grid-auto-rows: 40px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.socials__link {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;
}

.socials__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  color: #83B3D3;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  color: #68A2CA;
}

.socials__link:focus {
  outline: unset;
}

.socials__item:has(.socials__link:focus) {
  outline: 2px solid #83B3D3;
}

.socials__link:active .socials__icon {
  color: rgba(104, 162, 202, 0.3);
}

/* Catalog*/
.main-inner__header-container {
  padding: 35px 71px 69px 70px;

  background-color: #344B51;
  background-image: url("../images/content/catalog-filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-inner__header {
  margin: 0 0 6px 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/* breadcrambs */
.main-inner__breadcrumbs {
  margin-bottom: 39px;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 8px;
  height: 20px;

  background-image: url("../images/icons/arrow-right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  transform: translate(18px, 1px);
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:focus {
  outline: 3px solid #83B3D3;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
  opacity: 0.3;
}

/* filters */

.filters__form {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 30px;
}

.filters__column {
  display: flex;
}

.filters__column--left {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 150px;
  flex-grow: 1;
  column-gap: 65px;
  row-gap: 20px;
  align-content: flex-start;
}

.filters__column--right {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  max-width: 52%;
  column-gap: 69px;
  row-gap: 20px;
  align-content: flex-start;
}

.filters__group {
  margin: 0;
  padding: 0;
  border: unset;
}

.infrastructure,
.house-type {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.filters__column--left .filters__group {
  min-width: 151px;
}

.filters__price {
  min-width: 288px;
}

.filters__buttons-container {
  min-width: 190px;
  padding-top: 56px;
  display: flex;
  flex-flow: column wrap;
}

.filters__title {
  margin-bottom: 31px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  color: #ffffff;
}

.filters__list > li:not(:last-child) {
  margin-bottom: 16px;
}

.filters-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}

.infrastructure__label {
  position: relative;
  display: flex;
}

.infrastructure__option {
  position: relative;
  width: 22px;
  height: 22px;
  margin: 0 14px 0 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.infrastructure__checkbox {
  position: absolute;
  top: 2px;
  left: 0;

  width: 20px;
  height: 20px;
  background-color: #ffffff;

  border: unset;
  border-radius: 4px;
}

.infrastructure__option:checked + .infrastructure__checkbox {
  background-image: url("../images/icons/arrow-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

.infrastructure__label:has(> .infrastructure__checkbox:hover),
.infrastructure__label:hover {
  opacity: 0.6;
}

.infrastructure__option:focus + .infrastructure__checkbox {
  outline: 3px solid #83B3D3;
}

.infrastructure__option:focus {
  outline: unset;
}

.infrastructure__label:has(> .infrastructure__checkbox:active),
.infrastructure__label:active {
  opacity: 0.3;
}

.house-type__label {
  position: relative;
  display: flex;
}

.house-type__option {
  width: 22px;
  height: 22px;
  margin: 0 16px 0 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.house-type__radio {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  background-image: radial-gradient(transparent 5px, #ffffff 5px);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  border-radius: 50%;
}

.house-type__option:checked + .house-type__radio {
  background-color: transparent;
}

.house-type__label:has( > .house-type__option:hover) {
  opacity: 0.3;
}

.house-type__option:focus + .house-type__radio {
  outline: 3px solid #83B3D3;
}

.house-type__option:focus {
  outline: unset;
}

.house-type__label:has( > .house-type__option:active) {
  opacity: 0.6;
}

.range__inputs {
  margin: 1px 0 43px 3px;
  display: flex;
}

.range__input-wrapper {
  position: relative;
}

.range__input-wrapper:first-child {
  margin-right: 2px;
}

.range__label {
  position: absolute;
  top: 12px;
  right: 20px;

  font-size: 18px;
  line-height:  24px;
  color: rgba(0, 0,  0, 0.3);
}

.range__input {
  min-width: 143px;
  margin: 0;
  padding: 12px 45px 12px 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.range__input::-webkit-inner-spin-button,
.range__input::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.range__input {
  -moz-appearance: textfield;
}

.range__input-wrapper:first-child > .range__input {
  border-radius: 4px 0 0 4px;
}

.range__input-wrapper:last-child > .range__input {
  border-radius: 0 4px 4px 0;
}

.range__label {
  color: #aaaaaa;
}

.range__input:hover {
  background-color: #e5e5e5;
}

.range__input:hover + .range__label {
  color: #a1a1a1;
}

.range__input:focus + .range__label {
  color: #a1a1a1;
}

.range__input:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83B3D3;
}

.slider {
  position: relative;
  left: 3px;
  max-width: 287px;
  width: 100%;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.slider__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;

  background-color: #e5e5e5;
}

.slider__toggle {
  position: absolute;
  bottom: 0;

  width: 20px;
  height: 20px;

  border: unset;
  border-radius: 5px;

  transform: translate(-1px, 7px);
  cursor: pointer;
}

.slider__toggle--max {
  right: 60px;
}

.slider__toggle--min {
  left: 1px;
}

.slider__toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.slider__toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.slider__toggle:active{
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.filters__button:first-child {
  margin-bottom: 32px;
}

.filters__button:focus {
  outline: 3px solid #83B3D3;
}

/* view settings */
.view-settings {
  padding: 57px 70px 34px;
  display: flex;
  justify-content: space-between;
  align-items: start;

  background-color: #ffffff;
}

.view-settings__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.view-settings__filter-container {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(-7px);
}

.view-settings__sorting {
  min-width: 292px;
  max-width: 440px;
  margin-right: 69px;
  padding: 11px 9% 10px 19px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: #ffffff;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: 92.5% 50%;

  outline: 2px solid #E5E5E5;
  outline-offset: -2px;
  border: unset;
  border-radius: 4px;
}

.view-settings__sorting:hover,
.view-settings__sorting:focus {
  outline-color: #68a2ca;
}

.view-settings__sorting:disabled {
  outline-color: #000000;
  opacity: 0.3;
}

.view-settings__sorting-option {
  font-family: inherit;
  line-height: 21px;
  color: #333333;
}

.view-settings__view-list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: 48px;
  gap: 8px;

  list-style-type: none;
}

.view-settings__view-link {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 14px 12px;

  background-image: url("../images/icons/plate-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 17px;
  background-size: 16px 14px;
}

.view-settings__view-link--card {
  background-image: url("../images/icons/cards-icon.svg");
}

.view-settings__view-link--list {
  background-image: url("../images/icons/list-icon.svg");
}

.view-settings__view-item {
  outline: 2px solid #E5E5E5;
  outline-offset: -2px;
  border: unset;
  border-radius: 4px;
}

.view-settings__view-item:has(.view-settings__view-link--active),
.view-settings__view-item:has(.view-settings__view-link:hover) {
  outline-color: #000000;
}

.view-settings__view-link:focus {
  outline: unset;
}

.view-settings__view-item:has(.view-settings__view-link:focus) {
  outline-color: #68a2ca;
}

.view-settings__view-item:has(.view-settings__view-link:active) {
  outline-color: #000000;
}

/* product card */
.product-card {
  background-color: #ffffff;
  padding: 0 70px 50px;
}

.product-card__list {
  margin: 0;
  padding: 0 0 40px;

  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;

  border-bottom: 1px solid #E5E5E5;

  list-style-type: none;
}

.card {
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  auto auto auto fit-content(100%) fit-content(100%);
  -moz-column-gap: 20px;
  column-gap: 20px;

  border-radius: 4px;
  box-shadow: 0 0 0 1px #E5E5E5;
}

.card__header-link:has(.card__picture) {
  grid-column: 1/ span 2;
  grid-row: 1/2;
}

.card__header-link:has(.card__title) {
  grid-column: 1/ span 2;
  grid-row: 2/3;
}

.card__info {
  grid-column: 1 / span 2;
  grid-row: 3/4;
}

.card__link {
  grid-column: 1/2;
  grid-row: 4 / 5;
}

.card__favourite {
  grid-column: 2/3;
  grid-row: 4/5;
}

.card__rating-stars {
  grid-column: 1/2;
  grid-row: 5/6;
}

.card__rating-next {
  grid-column: 2/3;
  grid-row: 5/6;
}

.card__header-link {
  display: block;
  margin-bottom: 16px;

  text-decoration: none;
}

.card__header-link:focus {
  outline-color: #83B3D3;
}

.card__picture {
  display: block;
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;
}

.card__info {
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-self: end;
}

.card__info > dd {
  margin-left: 0;
  color: #333333;
}

.card__link,
.card__favourite {
  margin-bottom: 16px;
}

.card__favourite {
  min-width: 140px;
  border: none;
}

.card__rating-stars {
  width: 140px;
  height: 37px;
  margin: 0;

  background-repeat: no-repeat;
  background-position: left;
}

.card__rating-stars--1 {
  background-image: url("../images/icons/star-1.svg");
  background-size: 18px 17px;
}

.card__rating-stars--2 {
  background-image: url("../images/icons/star-2.svg");
  background-size: 42px 17px;
}

.card__rating-stars--3 {
  background-image: url("../images/icons/star-3.svg");
  background-size: 66px 17px;
}

.card__rating-stars--4 {
  background-image: url("../images/icons/star-4.svg");
  background-size: 90px 17px;
}

.card__rating-stars--5 {
  background-image: url("../images/icons/star-5.svg");
  background-size: 114px 17px;
}

.card__rating-text,
.card__rating-value {
  font-size: 16px;
  line-height: 20px;
  color: #333333;

  text-transform: uppercase;
  background-color: #f2f2f2;
}

.card__rating-text {
  margin: 0;
  padding: 8px 22px 9px;

  border-radius: 4px;
}

/* pagination */
.pagination {
  margin: 0;
  padding: 40px 0 0;

  display: flex;
  flex-flow: row wrap;

  list-style-type: none;
}

.pagination__link {
  margin-bottom: 10px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  text-decoration: none;
}

.pagination__link {
  margin-right: 8px;
}

.pagination__link--current,
.pagination__button {
  color: #000000;
}

.pagination__link {
  min-width: 60px;
  min-height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #82B3D3;
  border: unset;
  border-radius: 4px;

  outline: 1px solid #82B3D3;
  outline-offset: -1px;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: #68A2CA;
}

.pagination__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination__link--current,
.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  background-color: #f2f2f2;
  outline-color: #f2f2f2;
}

.pagination__button {
  background-color: #ffffff;
  border: unset;
  outline: unset;

  cursor: pointer;
}

.pagination__button:hover,
.pagination__button:focus,
.pagination__button:active {
  outline: 1px solid #82B3D3;
  outline-offset: -1px;
  background-color: #ffffff;
  color: #000000;
}

/* modal */
.modal__container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal--hide {
  display: none;
}

.modal {
  position: relative;
  top: 31px;
  padding: 64px 70px;
  margin: auto;

  background-color: #ffffff;
  border-radius: 30px;

  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal__search-hotel {
  width: 717px;
}

.modal__close-button {
  position: absolute;
  top: 65px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: block;
  width: 19px;
  height: 2px;

  background-color: #000000;
  transform: rotate(45deg);
}

.modal__close-button::after {
  transform: rotate(-45deg);
}

.modal__close-button:hover {
  background-color: #E5E5E5;
}

.modal__close-button:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.modal__close-button:active {
  background-color: #E5E5E5;
  outline: unset;
}

.modal__close-button:active::before,
.modal__close-button:active::after {
  opacity: 0.3;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 64px;
}

.form {
  display: grid;
  grid-template-columns: 138px 110px 88px auto 110px;
  row-gap: 48px;
}

.label__check-in {
  grid-column: 1/2;
  grid-row: 1/2;
}

.form__input-container:has(> .input__check-in) {
  grid-column: 2/span 4;
  grid-row: 1/2;
}

.label__check-out {
  grid-column: 1/2;
  grid-row: 2/3;
}

.form__input-container:has(> .input__check-out) {
  grid-column: 2/span 4;
  grid-row: 2/3;
}

.label__adults {
  grid-column: 1/2;
  grid-row: 3/4;
}

.form__input-container:has(> .input__adults) {
  grid-column: 2/3;
  grid-row:3/4;
}

.label__children {
  grid-column: 4/5;
  grid-row: 3/4;
}

.form__input-container:has(> .input__children) {
  grid-column: 5/6;
  grid-row:3/4;
}

.modal__search-button {
  grid-column: 1/6;
  grid-row: 4/5;
}

.label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
}

.form__label {
  align-self: center;
}

.form__input {
  min-height: 48px;
  padding-left: 19px;
  padding-right: 55px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.form__input[type="text"]:focus {
  outline-color: #83B3D3;
}

.form__input[type="number"]:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.input__message {
  position: absolute;
  bottom: -25px;
  left: 19px;

  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.input__icon {
  position: absolute;
  top: 13px;
  right: 20px;
}

.input__message--error {
  color: #ff5757;
}

.form__input-container {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;

  display: grid;
  grid-template-columns: 1fr;
}

.form__input-container:has(.input__button) {
  grid-template-columns: 40px 30px 40px;
}

.form__input[type="number"] {
  padding: 0;

  text-align: center;
  appearance: none;
  -moz-appearance: textfield;

  border-radius: 0;
  border: unset;
}

.form__input[type="number"]::-webkit-inner-spin-button,
.form__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; margin: 0;
}

.input__button {
  border: unset;
  cursor: pointer;
}

.input__button--minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input__button--plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal__search-button {
  padding: 18px 20px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;
  cursor: pointer;
}

.tooltip {
  margin-left: 5px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  padding: 0;

  vertical-align: middle;

  background-color: #83b3d3;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.tooltip-toggle:focus {
  outline-color: #82B3D3;
}

.tooltip-toggle__icon {
  margin-top: 2px;
}

.label__children {
  position: relative;
}

.input__tooltip-info {
  position: absolute;
  top: 42px;
  left: -57px;

  min-width: 256px;
  padding: 20px 18px 23px 22px;
  display: block;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0,  0, 0.3);
}

.input__tooltip-info::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 118px;
  width: 19px;
  height: 9px;

  display: block;

  background-color: #333333;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.input__tooltip-info--hide {
  display: none;
}

.input__button > svg {
  color: rgba(117, 97, 87, 0.3);
}

.input__button:hover > svg {
  color: #000000;
}

.input__button:focus {
  outline: unset;
}

.input__button:focus > svg {
  color:  #000000;
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.input__button:active {
  opacity: 0.2;
  outline: unset;
}

.input__button:active > svg {
  color:  #000000;
}
